<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.epsilon.peacemaker.dt.PeacemakerEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor"
            default="false"
            extensions="model,xmi,aird,capella"
            icon="/icons/peacemaker16.png"
            id="org.eclipse.epsilon.peacemaker.dt.PeacemakerEditor"
            name="Peacemaker Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.egit.core.mergeStrategy">
      <strategy
            class="org.eclipse.epsilon.peacemaker.dt.DuplicatedIdsMergeStrategy"
            label="Detect Duplicated Ids (from Peacemaker)">
      </strategy>
   </extension>
</plugin>
