<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated comicshop -->
      <package
            uri="comicshop"
            class="comicshop.ComicshopPackage"
            genModel="metamodels/comicshop.genmodel"/>
   </extension>

</plugin>
