<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.epsilon.peacemaker.dt.PeaceMakerEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor"
            default="false"
            extensions="model,xmi"
            icon="/icons/peacemaker16.png"
            id="org.eclipse.epsilon.peacemaker.dt.PeaceMakerEditor"
            name="PeaceMaker Editor">
      </editor>
   </extension>
</plugin>
